<a href="https://colab.research.google.com/github/Arulprakashg/Arulprakashg/blob/main/Py1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
L1= [1,2,3,4,5]
print(L1[2])

3

In [ ]:
L1 = [10,20,30,40,50]
L1.append(60)
L1.insert(0,9)
print(L1)
print(L1[2])
print(L1[-1])

[9, 10, 20, 30, 40, 50, 60]
20
60

In [ ]:
L1= [1,2,3]
L2= [4,5,6]
#L1.append(L2)
L1.extend(L2)
print(L1)

[1, 2, 3, 4, 5, 6]

###.remove()
Remove item from the list.remove first occur

In [ ]:
L1 =[1,2,3,4,2]
L1.remove(2)
print(L1)

[1, 3, 4, 2]

In [ ]:
L1 = [1,2,3,4,2]
del L1[0:3]
print(L1)

[4, 2]

In [ ]:
L1 = [1,2,3,4,5]
removed_element = L1.pop()
print(removed_element)
print(L1)

5
[1, 2, 3, 4]

In [ ]:
L1 = [1,2,3,4,5]
removed_element = L1.pop(0)
print(removed_element)
print(L1)

1
[2, 3, 4, 5]

In [ ]:
L1 = [1,2, [3,4] ]


print(L1[2][0])

3

In [ ]:
L1 = [1,2,3,4,2,3,5,1]
L1.count(1)

2

Given a list
L = [1,2,3,2,1,4,5,1,4,3,2]
Write a program without using .count() how many times a given number(take from keyboard( it exists

Input
Enter a number : 1
Expected OUtput
3

In [ ]:
L1 = [1,2,3,4,2,3,5,1]
expected_num = int(input("Enter  a number"))
count = 0
for e in L1:
  if e == expected_num:
    count+=1
print(count)

Enter  a number3
2

In [ ]:
days = ("Mon","Tue","Wed","Thu","Fri","Sat","Sun")
print(type(days))
print(days[0])
for item in days:
  print(item)
for index,value in enumerate(days):
  print(index,value)

<class 'tuple'>
Mon
Mon
Tue
Wed
Thu
Fri
Sat
Sun
0 Mon
1 Tue
2 Wed
3 Thu
4 Fri
5 Sat
6 Sun

In [ ]:
my_tuple = (1,2,3)
x = my_tuple[0]
y = my_tuple[1]
z = my_tuple[2]
print(x,y,z)


x,y,z=my_tuple
print(x,y,z)

1 2 3
1 2 3

In [ ]:
T1 = (1,2,3)
T2 = ("JAN","FEB","MAR")
result = (T1,T2) # ((1,2,3),  ("JAN","FEB","MAR"))
print(result[1][1])

FEB

In [ ]:
days = ("Mon","Tue","Wed","Thu","Fri","Sat","Sun","Tue")
print(days.index("Tue"))
print(days.count("Tue"))

1
2

In [ ]:
T= (1,2,3)
T=T+(11,12,13)
print(T)

(1, 2, 3, 11, 12, 13)

In [ ]:
n=int (input("Enter n"))
L = []
for iter in range(n):
  name = input("Enter name")
  L.append(name)
T = tuple(L)
print(type(T))
print(T)

Enter na

ValueError: ignored

In [ ]:
n = int(input("Enter n"))
L = []
for iter in range(n):
  name = input("Enter name")
  L.append(name)
T = tuple(L)
print(type(T))
print(T)

Enter na

ValueError: ignored

In [ ]:
S1={1,2,2,3,3,4,5}
print(type(S1))
print(S1)
S2={1,"jan"}
print(S2)
S3 = {"A",1,2,"B"}
print(S3)
item =S3.pop()
print(item)
S3 = {"A",1,2,-1,"D","B"}
print(S3)
S3.remove("A")
print(S3)

<class 'set'>
{1, 2, 3, 4, 5}
{1, 'jan'}
{'B', 1, 2, 'A'}
B
{1, 2, 'D', 'A', 'B', -1}
{1, 2, 'D', 'B', -1}

In [ ]:
T1 = (1,1.5,"Hello",[1,2,3])
print(T1[1])

1.5

In [ ]:
D1 = {'apple':'red', 'grapes':'green'}
print(type(D1))
D2 = dict(apple='red', grapes='green')
print(type(D2))
print(D2)
D3 = dict(D1,oranges='orange')
print(type(D3))
print(D3)
D4 = dict([('apples','grapes'),('red','green')])
print(type(D4))
print(D4)
D1 = {'apple':'red', 'grapes':'green'}
print(D1['apple'])
D1 = {'apple':'red', 'grapes':'green'}
print(D1.get('apple'))
print(D1.get('mango',"No key"))
D1['apple'] = "yellow"
print(D1)
D1['oranges'] = 'orange'
print(D1)

<class 'dict'>
<class 'dict'>
{'apple': 'red', 'grapes': 'green'}
<class 'dict'>
{'apple': 'red', 'grapes': 'green', 'oranges': 'orange'}
<class 'dict'>
{'apples': 'grapes', 'red': 'green'}
red
red
No key
{'apple': 'yellow', 'grapes': 'green'}
{'apple': 'yellow', 'grapes': 'green', 'oranges': 'orange'}

In [ ]:
D1 = {'apple':'red', 'grapes':'green'}
for k in D1:
  print(k)


print("------")
for k in D1.keys():
  print(k)


for v in D1.values():
  print(v)


for k,v in D1.items():
  print(k,v)

apple
grapes
------
apple
grapes
red
green
apple red
grapes green

Problem Statement

Given a list of numbers
L1 = [1,2,3,4,5,6,7,8,9,10]
Write a program to increment all numbers and store it in another list
Expected Output
L2 = [2,3,4,5,6,7,8,9,10,11]

In [ ]:
L1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

L2 = []

for num in L1:

  incremented_num = num + 1
  L2.append(incremented_num)

print("L2:", L2)

L2: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
L1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
L2 = []
if num%2==0 L1:
 print("L2:", L2)

SyntaxError: ignored

In [ ]:
l2=[e for e in L1 if e%2==0]
print(l2)

[2, 4, 6, 8, 10]

In [ ]:
l2=[e for e in L1 if e%2==0 and e%3==0]
print(l2)

[6]

In [ ]:

l1=list(range(1,6))
L2=[e+1 if e%2==0 else e+2 for e in l1]
print(L2)

[3, 3, 5, 5, 7]

In [ ]:
L1 = [1,2,3]
L2 = [4,5,6]
L1.append(L2)
print(L1)
print(len(L1))

[1, 2, 3, [4, 5, 6]]
4

In [ ]:
L1 = [10,20,30,40,50]
L2 = list( [10,20,30,40,50])
print(type(L1))
print(type(L2))

<class 'list'>
<class 'list'>

In [ ]:
number = int(input("Enter an integer:"))
for i in range(1,number+1):
    if i%3 ==0 and i%5==0:
      print("fizz fuzz")
    elif i%3==0:
      print("fizz")
    elif i%5==0:
      print("fuzz")
    else:
      print(i)

Enter an integer:10
1
2
fizz
4
fuzz
fizz
7
8
fizz
fuzz

In [ ]:
calls = int(input("Enter the number of calls: "))

if calls <= 100:
    bill = 200
elif calls <= 150:
    bill = 200 + 0.6*(calls-100)
elif calls <= 200:
    bill = 200 + 0.6*50 + 0.5*(calls-150)
else:
    bill = 200 + 0.6*50 + 0.5*50 + 0.4*(calls-200)

print("The monthly telephone bill is: Rs.", bill)

Enter the number of calls: 110
The monthly telephone bill is: Rs. 206.0

In [ ]:
def calculate_net_amount(log_message):
    # Initialize the net amount to zero
    net_amount = 0

    # Split the log message into individual transactions
    transactions = log_message.split()

    # Process each transaction
    for transaction in transactions:
        # Check if the transaction is a deposit
        if transaction[0] == 'D':
            # Extract the deposit amount and add it to the net amount
            deposit = int(transaction[2:])
            net_amount += deposit
        # Check if the transaction is a withdrawal
        elif transaction[0] == 'W':
            # Extract the withdrawal amount and subtract it from the net amount
            withdrawal = int(transaction[2:])
            net_amount -= withdrawal

    # Return the final net amount
    return net_amount

# Test the function with sample inputs
print(calculate_net_amount("D:100 w:100"))  # Expected output: 90
print(calculate_net_amount("D:100 W:200 D:400"))  # Expected output: 300

100
300

In [ ]:
filenames=['view.jpg','bear.jpg','ball.png']
print(filenames)
filenames.insert(0,"phone.jpg")
print(filenames)
filenames.pop()
print("expected Output is ",filenames)

['view.jpg', 'bear.jpg', 'ball.png']
['phone.jpg', 'view.jpg', 'bear.jpg', 'ball.png']
expected Output is  ['phone.jpg', 'view.jpg', 'bear.jpg']

In [ ]:
list=[]

n = int(input("Enter the length of your list: "))

for i in range (1,n+1):

    a=int(input("Enter the %d number: " %i ))

    list.append(a)

minimum=list[0]

maximum=list[0]

# average=sum(list)//n

for i in range(1,n):

    if maximum<list[i]:

        maximum=list[i]

    if minimum>list[i]:

        minimum=list[i]

sum_of_list=0

for i in list:

       sum_of_list+=i

average=sum_of_list//n

print(" %d is the Maximum number " %maximum)

print(" %d is the Minimum number " %minimum)

print(" %d is the average element in a list " %average)

In [ ]:
number_nested = [[1, -1, 2], [0, -5, 3, 5, -2], [1, 2, 1, 0, -2, -3]]

positive_numbers = []

for sublist in number_nested:
    positive_numbers.extend([num for num in sublist if num > 0])

print(positive_numbers)

[1, 2, 3, 5, 1, 2, 1]

In [ ]:
l = [[1, 2, 3], [4, 5, 6, 3], [-1, -2, -10, 5, 8]]

sum_of_averages = 0

for sublist in l:
    average = sum(sublist) / len(sublist)
    sum_of_averages += average

print(sum_of_averages)

6.5

In [1]:
my_list = [1,1,1,1,2,2,3,3,3,3,4,5]

unique_elements = list(set(my_list))

print(unique_elements)

[1, 2, 3, 4, 5]

In [2]:
L1=['view.jpg','bear,jpg','ball.png']

L1.insert(0,'phone.jpg')

print(L1)

L1.pop(3)

print(type(L1))

print(L1)

['phone.jpg', 'view.jpg', 'bear,jpg', 'ball.png']
<class 'list'>
['phone.jpg', 'view.jpg', 'bear,jpg']

In [ ]:
L=[1,2,3,4,5,6,7,8,9,10]
min,max=1,0
for e in L:
    if e>max:
        max=e
        s = sum(L)
        length = len(L)
        Avg=s/length
    if e<min:
        min=e
print(max)
print(Avg)
print(min)

10
5.5
1

In [ ]:
l = [1, 2, 3, 4, [4, 3]]
number = 6

for element in l:
    if isinstance(element, list):
        if number in element:
            print(f"The number {number} exists in the inner list.")
            break
    elif element == number:
        print(f"The number {number} exists in the main list.")
        break
else:
    print(f"The number {number} does not exist in the list.")

The number 6 does not exist in the list.

In [ ]:
def sum_list(numbers):

  total=sum(numbers)

  return total

sample_list=[8,2,3,0,7]

result=sum_list(sample_list)

print(result)

20

In [ ]:
def reverse_string(string):

  reversed_string=string[::-1]

  return reversed_string

input_string=input("Enter a string: ")

#input_String="1234abcd"

reversed_string=reverse_string(input_string)

print("Reversed string::",reversed_string)

Enter a string: 1234abcd
Reversed string:: dcba4321

In [ ]:
def count_upper_lower(string):

  upper_count=0

  lower_count=0



  for char in string:

    if char.isupper():

      upper_count +=1

    elif char.islower():

      lower_count +=1

  return upper_count,lower_count

text=input("Enter string to check:: ")

upper,lower=count_upper_lower(text)

print("Uppercase count::",upper)

print("lowercase count::",lower)

Enter string to check:: The quick Brow Fox
Uppercase count:: 3
lowercase count:: 12